.finished {
  color: skyblue;
}
.important {
  text-decoration: underline;
}

/* 특정 태그에 해당 클래스가 있을 때 */
li.important {
  background-color: yellow;
}

/* 하나 이상의 클래스 */
.important.finished {
  font-style: italic;
}
