div {
  width: 400px;
  height: 400px;
}
.relative {
  position: relative;
  background-color: green;
}
/** 아래부터 **/
/* static이 아닌 조상 기준 상대적인 위치에 배치 */
.absolute {
  position: absolute;
}

/* static이 아닌 요소들끼리는 z-index값으로 위, 아래(앞쪽, 뒷쪽) 배치 */
/* 페이지 내 공간을 차지하지 않음 */
.absolute._1 {
  top: 100px;
  left: 25%;
  background-color: red;
  z-index: 2;
}
.absolute._2 {
  top: 200px;
  left: 50%;
  background-color: blue;
  z-index: 1;
}
